<section class="section is-medium is-primary has-text-centered is-long">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Ondrej. Nice to meet you.</h1>
        <h2 class="subtitle is-size-5-desktop has-text-weight-normal">
          I am working as a Web Developer specialized in frontend over 5 years, and I've been working on small to big-sized projects for
          multiple companies. I developed several PWAs, mobile apps, greenfield projects, libraries, plugins, and made bunch of performance
          improvements in already existing codebases with huge technical depths.
        </h2>
      </div>
    </div>
  </div>
</section>
