<section class="hero is-white has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Freelance Web Developer &amp; Enthusiast</h1>
          <h2 class="subtitle is-size-4-tablet">I code to make your life easier, and I love it.</h2>
<!--          <img-->
<!--            class="avatar"-->
<!--            src="assets/avatar.png"-->
<!--          >-->
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container"><img
      class="is-bottom"
      src="assets/background_image.jpg"
    ></div>
  </div>
</section>
