<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <!--    <div class="navbar-brand">-->
    <!--      <a class="navbar-item" href="/"><i class="fak fa-mf-logo has-text-primary fa-4x"></i></a><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="#navMenu"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>-->
    <!--    </div>-->
    <div class="navbar-menu is-shadowless" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div
          class="navbar-item"><a class="button is-primary is-outlined is-rounded has-text-weight-normal" href="/contact">Contact me</a></div>
      </div>
    </div>
  </div>
</nav>
