<div id="w">
  <header class="clearfix">
    <div id="info">
      <h1><span itemprop="name">Mgr. Ondrej Svoreň</span></h1>
      <h3><span itemprop="jobTitle">Frontend Developer</span></h3>
      <small><span itemprop="addressLocality">Krupinská 6, Košice 040 01, Slovakia</span></small>
      <small><span itemprop="email">svoren258@gmail.com</span></small>
      <small><span itemprop="telephone">+421 902 082 961</span></small>
      <div id="photo">
        <img src="assets/ondrej-svoren.jpeg" alt="profile-img"/>
      </div>
    </div>
  </header>

  <section id="profile">
    <h2>About me</h2>
    <p itemprop="description">Experienced Frontend Developer with a demonstrated history of working in the information technology and services industry. Skilled in Web Development and modern Javascript frameworks such as Angular or React.js and adjacent technologies. Strong engineering professional with a Master's degree focused in Service Science, Management, and Engineering from Masaryk University Brno.</p>
  </section>

  <section id="skills" class="clearfix">
    <h2 itemprop="name">Skills and Abilities</h2>
    <ul>
      <li itemprop="itemListElement">Angular</li>
      <li itemprop="itemListElement">TypeScript</li>
      <li itemprop="itemListElement">Nx Monorepo</li>
      <li itemprop="itemListElement">NodeJS</li>
      <li itemprop="itemListElement">GCP</li>
      <li itemprop="itemListElement">GraphQL</li>
      <li itemprop="itemListElement">GIT</li>
    </ul>
  </section>

  <section id="education">
    <h2>Education</h2>
    <ul>
      <li>Bachelor's degree (2015 - 2018) - Information Technology at Brno University of Technology</li>
      <li>Master's degree (2018 - 2020) - Service Science, Management, and Engineering at Masaryk University Brno</li>
    </ul>
  </section>

  <section id="experience">
    <h2>Work Experience</h2>
    <ul>
      <li>FlowUp s.r.o. - Frontend Developer (2018 - present)</li>
    </ul>
  </section>

  <section id="language-skills">
    <h2>Language Skills</h2>
    <ul>
      <li>English - Upper intermediate, communicative</li>
      <li>German - Upper intermediate, communicative</li>
    </ul>
  </section>
</div>
