<section class="section call-to-action is-primary has-text-centered">
  <div class="container is-narrow">
    <div class="box">
      <div class="columns level">
<!--        <div class="column level-item">-->
<!--          <h1 class="title">Start a project</h1>-->
<!--        </div>-->
        <div class="column level-item">
          <h1 class="title">Are you interested in a collaboration?</h1>
        </div>
<!--        <div class="column level-item">-->
<!--          <a-->
<!--            class="button is-success is-outlined is-rounded is-medium has-text-weight-normal"-->
<!--            href="/project-planner"-->
<!--          >-->
<!--            <span class="icon">-->
<!--              <i class="fa-regular fa-hand-horns"></i>-->
<!--            </span>-->
<!--            <span>Let's do this</span></a>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>
<footer class="section is-primary is-small has-text-centered">
  <div class="container is-narrow">
    <a
      class="logo has-text-white"
      href="/"
    ><i class="fak fa-mf-logo fa-4x"></i></a>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title is-size-4-touch has-text-weight-normal">Feel free to follow or contact me on the social networks below in case you
                                                                 are interested.
        </h1>
      </div>
    </div>
    <div class="social-icons">
      <p class="field">
        <a
          class="button is-medium"
          href="https://twitter.com/OSvoren"
          target="_blank"
        ><span class="icon is-small"><img
          src="assets/twitter.png"
          alt="twitter-logo"
        /></span></a>
        <a
          class="button is-medium"
          href="https://www.linkedin.com/in/ondrej-svore%C5%88/"
          target="_blank"
        ><span class="icon is-small"><img
          src="assets/linkedin.jpg"
          alt="linkedin-logo"
        /></span></a>
        <a
          class="button is-medium"
          href="mailto:svoren258@gmail.com"
        ><span class="icon is-small"><img
          src="assets/gmail.webp"
          alt="gmail-logo"
        /></span></a>
      </p>
    </div>
  </div>
</footer>
